body{
    font-family: 'Quicksand', sans-serif;
}

.grid__container{
    display: grid;
    grid-template-areas: 
        'navbar'
        'aside'
        'section'
        'footer';
}

.navbar{
    grid-area: navbar;
    display: flex;
    background-color: rgb(216, 23, 174);
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px 7px 15px;
}

aside{
    grid-area: aside;
    text-align: center;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}

.raza{
    box-shadow: 2px 2px 5px;
    height: 36px;
    width: 228px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
}
.raza:active{
    width: 250px;
}

section{
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 30px;
}

.section__mascotas{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

footer{
    grid-area: footer;
    background-color: rgb(216, 23, 174);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.redes__sociales{
    padding-top: 10px;
}

.encabezado{
    display: flex;
    align-items: center;
    color: white;
}

.titulo{
    padding-left: 10px;
}

.inicio{
    display: none;
}

.adopciones{
    display: none;
}

.nosotros{
    display: none;
}

.contacto{
    display: none;
}

.mascota{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    box-shadow: 1px 1px 5px rgb(182, 35, 157);
}

.mascota:hover{
    width: 350px;
}

.mascota img{
    width: 100%;
}

.paginado{
    display: flex; 
}

.pagina{
    margin: 0px;
    padding: 0px 10px 20px;
}

@media(min-width:  576px){
    .grid__container{
        grid-template-areas: 
            'navbar aside'
            'navbar section'
            'footer section';
        height: 100vh;
        grid-template-columns: 1fr 5fr;
    }
    
    .section__mascotas{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;
        padding-left: 20px;
    }

    .mascota:hover{
        width: 400px;
    }

    .section__paginador{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .raza{
        width: 600px;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
    }

    .barras{
        display: none;
    }

    .inicio{
        display:initial;
        margin: 0px;
        padding-top: 40px;
    }
    
    .adopciones{
        display: initial;
        margin-bottom: 0px ;
    }
    
    .nosotros{
        display: initial;
    }
    
    .contacto{
        display: initial;
        margin: 0px;
    }
    
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        /* width: 300px; */
    }

    .footer{
        /* width: 300px; */
    }

    .menus{
        display: flex;
        flex-direction: column;
    }
}